<?php

declare(strict_types=1);

namespace Database\Seeders;

use App\Models\DummyModelClass;
use Illuminate\Database\Seeder;

final class DummySeederClass extends Seeder
{
    public function run(): void
    {
        DummyModelClass::factory()->count(10)->create();
    }
}
