includes:
    - ../../vendor/larastan/larastan/extension.neon

parameters:
    bootstrapFiles:
        - ../../vendor/larastan/larastan/bootstrap.php
    paths:
        - src
        - stubs/app/Models/User.php
        - stubs/database/factories/UserFactory.php
    level: 6
    parallel:
        maximumNumberOfProcesses: 1
