APP_NAME="CorePanel"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_VERSION=1.1.7

APP_LOCALE=de
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=de_DE
LOG_CHANNEL=daily

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=core_panel
DB_USERNAME=core_panel
DB_PASSWORD=core_panel
DB_DATABASE_TEST=core_panel_test

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=public
QUEUE_CONNECTION=redis

CACHE_STORE=redis

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=127.0.0.1
MAIL_PORT=1025

CORE_PANEL_ROUTE_PREFIX=admin
CORE_PANEL_PASSPORT_PERSONAL_ACCESS_CLIENTS_ENABLED=false
CORE_PANEL_PASSPORT_REFRESH_TOKEN_TTL_DAYS=30
CORE_PANEL_PASSPORT_TOKEN_TTL_MINUTES=15
CORE_PANEL_PASSPORT_PERSONAL_ACCESS_TOKEN_TTL_DAYS=180
CORE_PANEL_REGISTRATION_ENABLED=true
CORE_PANEL_SOCIAL_GITHUB_ENABLED=false
CORE_PANEL_SOCIAL_GOOGLE_ENABLED=false
CORE_PANEL_SOCIAL_MASTER_PROVIDER=
CORE_PANEL_SOCIAL_MICROSOFT_ENABLED=false
CORE_PANEL_HORIZON_ENABLED=true
OCTANE_SERVER=frankenphp
OCTANE_HTTPS=false
OCTANE_HOST=0.0.0.0
OCTANE_PORT=8000
HORIZON_SLACK_CHANNEL=
HORIZON_SLACK_WEBHOOK_URL=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
MICROSOFT_REDIRECT_URI=
