*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/bootstrap/cache/*.php
/bootstrap/ssr
/coverage
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/app/*
/storage/debugbar
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/*.key
/storage/logs/*
/storage/pail
/vendor
_ide_helper.php
auto-imports.d.ts
components.d.ts
Homestead.json
Homestead.yaml
Thumbs.db
/.core-panel-backups
lang/php_*.json
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
