<?php

declare(strict_types=1);

namespace Database\Factories;

use App\Models\DummyModelClass;
use Illuminate\Database\Eloquent\Factories\Factory;

/**
 * @extends Factory<DummyModelClass>
 */
final class DummyFactoryClass extends Factory
{
    protected $model = DummyModelClass::class;

    /**
     * @return array<string, mixed>
     */
    public function definition(): array
    {
        return [
DummyTranslatableFactoryName
            'is_active' => true,
        ];
    }
}
