<?php

declare(strict_types=1);

namespace DummyRequestNamespace;

use Illuminate\Foundation\Http\FormRequest;

final class DummyRequestUpdateClass extends FormRequest
{
    public function authorize(): bool
    {
        return true;
    }

    /**
     * @return array<string, mixed>
     */
    public function rules(): array
    {
        return [
DummyTranslatableValidation
            'is_active' => ['required', 'boolean'],
        ];
    }
}
